.sudokuDisplay {
    .wrapper {
        position: relative;
    }
}

.aboutContainer {
    .aboutButton {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-width: 3px;
        font-size: 1.6rem;
        font-weight: 700;

        position: absolute;
        right: 0;
        top: 2.5%;
    }

    .aboutPage {
        border: 5px solid black;
        border-radius: 15px;
        padding: 15px;
        position: relative;
        z-index: 10;
        background-color: peachpuff;
        height: 72%;
        width: 85%;
        overflow-y: auto;

        p {
            margin: 10px 0;
        }
    }

    .closeButton {
        position: absolute;
        right: 15px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-family: $paragraphFont;
        font-weight: 700;
        padding: 3px;
    }


    .aboutModalContainer {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 600px) {
    .aboutContainer {
        .aboutButton {
            top: 5.5%;
        }
    }
}