.sudokuDisplay {

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
    }

    input {
        border: 1px solid darkgray;
        &:focus {
            outline: none;
            border: 2px solid blue;
        }        
    }

    @include tileRange(0, 2, 0, 2);
    @include tileRange(0, 2, 6, 8);
    @include tileRange(3, 5, 3, 5);
    @include tileRange(6, 8, 0, 2);
    @include tileRange(6, 8, 6, 8);

    tbody {
        border: 3px solid black;
    }

    .bottomBorder {
        border-bottom: 2px solid black;
    }
    .sideBorder  {
        border-right: 2px solid black;
    }
    
    .tileColor {
        background-color: skyblue;
    }

    .cell {
        @include cellDimension(60px);
        text-align: center;
        border-radius: 0;
    }
    
    .conflict {
        background-color: red;
    }
    
    .userInputDisabled {
        color: white !important;
        background: black !important;
    }

    .inputButtons {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1,
    tfoot {
        margin: 20px 0;
    }
    
    .inputButtonsRow {
        @include tFooterWidth(60px);
        display: flex;
        justify-content: space-between;
    }

    .buttonSelections {
        display: flex;
        flex-direction: column;
        button {
            margin: 10px 0;
            padding: 10px 20px;
            font-weight: 700;
        }
    }

    .restartButton {
        &:active {
            background-color: $lightTeal;
        }
    }
}

@media(max-width: 600px) {

    .sudokuDisplay {

        h1 {
            max-width: 318px;
        }

        .cell {
            @include cellDimension(50px);
        }

        .inputButtonsRow {
            @include tFooterWidth(50px);
        }
    }
}


@media (max-width: 490px) {

    .sudokuDisplay {

        .cell {
            @include cellDimension(40px);
        }

        .inputButtonsRow {
            flex-wrap: wrap;
            @include tFooterWidth(40px);
        }

        .numberContainer {
            width: 20%;
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
    }
}

@media (max-width: 390px) {

    .sudokuDisplay {

        .cell {
            @include cellDimension(30px);
        }

        .inputButtonsRow {
            @include tFooterWidth(30px);
        }
        
        .buttonSelections  {
            width: 98%;
        }
    }
}