table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;


    input {
        border-radius: 0;
        // border: 1px solid #E3E3E3;
        border: 1px solid darkgray;
        &:focus {
            outline: none;
            border: 2px solid blue;
            // border: 2px solid crimson;
        }
    }


    @include tileRange(0, 2, 0, 2);
    @include tileRange(0, 2, 6, 8);
    @include tileRange(3, 5, 3, 5);
    @include tileRange(6, 8, 0, 2);
    @include tileRange(6, 8, 6, 8);

    tbody {
        border: 3px solid black;
    }

    .bottomBorder {
        border-bottom: 2px solid black;
    }
    .sideBorder  {
        border-right: 2px solid black;
    }
    
    .tileColor {
        background-color: skyblue;
    }

    .cell {
        height: 40px;
        width: 40px;
        text-align: center;
    }
    
    .conflict {
        background-color: red;
    }
    
    .userInputDisabled {
        color: white;
        background: black;
        border: 1px solid black;
    }
}