h1,
p,
input,
table,
tbody,
tr,
td {
    padding: 0;
    margin: 0;
}

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

button {
    // border-radius: 0;
    
}