h1 {
    font-family: $bodyFont;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: $bodyFont;
    text-transform: uppercase;
}
 p {
    font-family: $paragraphFont;
    line-height: 1.3;
 }

button {
    font-family: $bodyFont;
    font-size: 1.2rem;
    text-transform: uppercase;
}